<p>Job details for {{ job.command }} on {{ job.assigned_to }}</p>
<table id="joblogtable">
    <thead>
    <tr>
        <th width="49%">stdout</th>
        <th width="49%">stderr</th>
        <th width="2%">exit</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td width="49%">{% if job.last_std_out is not none %}{{ job.last_std_out.decode("utf-8") }}{% else %}none{% endif %}</td>
            <td width="49%">{% if job.last_std_out is not none %}{{ job.last_std_err.decode("utf-8") }}{% else %}none{% endif %}</td>
            <td width="2%">{% if job.last_std_out is not none %}{{ job.last_exit_code }}{% else %}none{% endif %}</td>
        </tr>
    </tbody>
</table>