<table id="nodes" align="center">
    <thead>
        <tr>
            <th width="30%">ip</th>
            <th width="30%">last message</th>
            <th width="30%">load (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for node in nodes%}
        {% if node.state == 'running' %}
        <tr bgcolor="#90ee90">
        {% elif node.state == 'disconnected' %}
        <tr bgcolor="#cd5c5c">
        {% else %}
        <tr>
        {% endif %}
            <td width="30%">{{ node.ip }}</td>
            <td width="30%">{{ node.time.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            <td width="30%">{{ "{:,.2f}".format(node.system_load) }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>